
body .wrapper{
    width: 500px;
}
body{
    background: #ffffff;
}

.inside-container{
    display: flex;
    flex-direction: column;
}

.right-img{
    position: absolute;
width: 803px;
height: 618px;
left: 608px;
top: 133px;
}


.left-form{
    position: absolute;
width: 550px;
height: 686px;
left: 58px;
top: 95px;


}